<div class="dashboard-wrapper-lg">
    <!-- Row starts -->
    <div class="row">
        <div class="container body-content">
            <!-- Aqui se renderisa el contenido-->
            <div ui-view>

            </div>
            <hr />
            <footer></footer>
        </div>
    </div>
</div>
