<h3>Detalle</h3>
<div ng-controller="UsuariosCtrl" class="row">
    <div class="col-xs-5">
        <ul>
            <li>
                Nombre: {{usuario.Nombre}}
            </li>
            <li>
                Apellidos: {{usuario.Apellidos}}
            </li>
            <li>
                Email: {{usuario.CorreoElec}}
            </li>
        </ul>
    </div>

    <div class="col-xs-6">
        <form>
            <div class="form-group">
                <h3>Registrar empresa</h3>
                <label for="Title">Nombre: </label>
                <input name="Title" type="text" class="form-control" ng-model="NombreEmp" placeholder="Nombre de empresa">
            </div>

            <button class="btn btn-primary" ng-click="RegEmpUsr(usuario.IdUsuario)">Guardar</button>
            <button class="btn btn-primary" ng-click="Cancelar()">Cancelar</button>
        </form>
    </div>

    <div>
        <a ui-sref="Usuarios.Lista">Regresar</a>
    </div>
</div>

